<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Filename</th>
            <th>Filter</th>
            <th>Obs. Date</th>
            <th>Telescope</th>
            <th>Instrument</th>
        </tr>
    </thead>
    <tbody>
        {% for standard in standards %}
        <tr>
            <td>{{ standard.objname }}</td>
            <td>{{ standard.filename }}</td>
            <td>{{ standard.filter }}</td>
            <td>{{ standard.dateobs }}</td>
            <td>{{ standard.telescope }}</td>
            <td>{{ standard.instrument }}</td>
        </tr>
        {% empty %}
        <tr>
            <span>No standards found for this target</span>
        </tr>
        {% endfor %}
    </tbody>
</table>